.contact_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 0;
  transition: ease 0.8s;
  overflow: hidden;
}

#contact_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: ease 0.5s;
}

#contact_wrap.active {
  transform: rotate(180deg);
  transition: ease 0.8s;
}

.contact_form.active {
  height: 150vh;
  transition: ease 1s;
}

#overlay {
  width: 100%;
  height: 160vh;

  background-color: #7451eb;
}

form {
  max-width: 550px;
  width: 90%;
  background: white;
  margin: 17vh auto 0 auto;
  padding: 40px;
  border-radius: 3px;
  box-sizing: border-box;
}

form h1 {
  margin: 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

label {
  display: block;
  margin: 20px 0;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid rgb(208, 208, 208);
}

input[type="text"]:focus,
textarea:focus {
  border-bottom: 1px solid #7451eb;
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #7451eb;
}

.center {
  text-align: center;
}

input[type="submit"] {
  margin-top: 30px;
  width: 90%;
  max-width: 200px;
  background: linear-gradient(to right, #7451eb, #6c6bd7);
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
}

.error {
  color: red;
}

.error-border {
  border-bottom: 1px solid red;
}

#success {
  color: green;
}

#coordonnees {
  width: 100%;
  margin-top: 1rem;
  /* border: 3px solid blue; */
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
}

#coordonnees p {
  margin-top: 1rem;
}

#coordonnees div:nth-child(1) {
  /* height: 100%; */
  width: 200px;
  /* border: 3px solid rgb(255, 0, 0); */
  color: black;

  border-radius: 30px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#coordonnees div:nth-child(2) {
  /* height: 100%; */
  width: 200px;
  /* border: 3px solid rgb(76, 0, 255); */
  border-radius: 30px;
  margin-top: 1rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
