*{
    padding: 0px;
    margin: 0px;
}

body{
background-color: black;
color: white;
overflow: hidden;
}


#particles-js{
    position: absolute;
    height: 100%;
    width: 100%;
    

}


#la_page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

/* ---------------------------------Legroupe-------------------------------------------------------- */
#le_groupe{
    
    margin-bottom: 10rem;
    margin-left:auto ;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}




/* ---------------------------------header---------------------------------------------------------- */

header{
    color: white;
    z-index: 2;
    position: fixed;
    bottom: auto;
    left: auto;
    text-align: center;
    border-bottom: solid 2px orange;
    padding-bottom: 1rem;
    margin-bottom: 4.2rem;
    
    
    
}

header h1{
    font-size: 3rem;
}

header h2{
    font-size: 2.5rem;
}





/* ---------------------------------Nav bar---------------------------------------------------------- */


button{
    background-color: orange;
    width: 4.5rem;
    height: 4.5rem;
    z-index: 3;

    
    border-radius: 50%;
    border: rgb(0, 0, 0) 0.35rem solid;
    outline: none;
    cursor: pointer;
    transition-duration: 0.8s;
    
    position: fixed;
    margin-top: 14rem  ;

    
}

button:hover{
background-color: lawngreen;
transition-duration: 0.8s;
border-radius: 50%;
}




#mydiv{
    position: fixed;
    bottom: auto;
    right: auto;
    margin-top: 40rem;
}


#mydiv ul {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}


#mydiv ul li{
    list-style: none;
    font-size: 1.5rem;


}

#mydiv a{
    text-decoration: none;
    color: white;
    margin: 0 20px 0 20px;
    padding: 10px 10px;
    transition-duration: 0.8s;
    border-radius: 2rem;
}

#mydiv a:hover{
    padding: 10px 10px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: orange;
    color: black;
    border-radius: 2rem;
    transition-duration: 0.5s;
}

/* ---------------------------------Background dynamique---------------------------------------------------------- */


.loader{
 
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(45deg,transparent,transparent 40%,#e5f403);
    animation: animate 3s linear infinite;
    z-index: 1;
   
    
}



@keyframes animate{
    0%{
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}


.loader:before{
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}

.loader:after{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(45deg, transparent,transparent 40%, #e5f403);
    border-radius: 50%;
    z-index: 1000;
    z-index: 1;
    filter: blur(30px);
}





/* ----------------------------------------------------------------Responsive 1-------------------------------------- */


@media screen and (max-width: 1200px){

.loader{
    height: 400px;
    width: 400px;
}


header{
    margin-top: 3rem;
}

header h1{
    font-size: 2.2rem;
}

header h2{
    font-size: 2rem;
}


button{
    width: 3.8rem;
    height: 3.8rem;
    margin-bottom: 4rem;
}


#mydiv{

margin-bottom: 1rem;

z-index: 2;

}

#mydiv ul, li{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




#mydiv  a{
    font-size: 1.5rem;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#mydiv a:hover{
    padding: 10px 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: orange;
    color: black;
    border-radius: 2rem;
  
}



}




/* ----------------------------------------------------------------Responsive ipad-------------------------------------- */









/* ----------------------------------------------------------------Responsive tel-------------------------------------- */


@media screen and (max-width: 500px){

    .loader{
        height: 300px;
        width: 300px;
    }
    
    
    header{
        margin-top: 3rem;
    }
    
    header h1{
        font-size: 1.2rem;
    }
    
    header h2{
        font-size: 1.2rem;
    }
    
    
    button{
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 6rem;
    }
    
    
    #mydiv{
    position: fixed;
    bottom: auto;
    left: auto;
    top: auto;
    
    margin-bottom: 10rem;
    
    z-index: 2;
    }
    
    #mydiv ul, li{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    
    
    
    #mydiv  a{
        font-size: 1rem;
        padding: 8px 10px;
    }
    
    #mydiv a:hover{
        padding: 8px 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: orange;
        color: black;
        border-radius: 2rem;
        transition-duration: 0.5s;
    }
    
    
    
    }