*{
    margin: 0px;
    padding: 0px;
}


body{
background-color: #f6f5f5;
height: 100vh;
display: flex;
flex-direction: column;

}


#leconteneur{
    flex: 1 0 auto;
}

#principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}



#particles-js{
    z-index: 0;
    position: absolute;
    height: 35rem;
    width: 100%;
    
}
 
 






/*----------------------------------------------Navbar-------------------------------------------------------------------------*/
ul{
list-style: none;
}



a{
    text-decoration: none;
}


section{

    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    
    background-color: rgba(255, 174, 0, 0.7);
    box-shadow:  0px 0px 12px rgba(0, 0, 0, 0.2);
    color: white;
    padding: 0px 5px; 
}

nav ul{
    display: flex;
}



nav li{
    text-align: center;
}

nav ul li a{
font-weight: 700;
color: #ffffff;
margin: 0rem 5rem 0rem 5rem;
font-size: 1.5rem;
padding: 10px 15px;
border-radius: 2rem;
}

nav a:hover{
    padding: 10px 15px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
   border-radius: 2rem;

    transition-duration: 0.5s;
}



/*--------------------------------------------------Présentation---------------------------------------------------------------------*/

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 35rem;
   
}

.container_text{
    z-index: 1;
}


.container img{
    width: 600px;
    border-radius: 50%;
    z-index: 1;
   
}

.container p:nth-child(1){
font-family: calibri;
font-weight: bold;
font-size: 22px;
line-height: 30px;
color: rgb(255, 255, 255);
margin-bottom: auto;

}


.container p:nth-child(2){
font-family: calibri;
font-weight: bold;
font-size: 60px;
color: rgb(255, 255, 255);
line-height: 50px;

}


 .container p:nth-child(3){
font-family: calibri;
font-weight: bold;
font-size: 22px;
color:orange;
line-height: 30px;
border-bottom: white solid 3px;

 }

.container p{
  margin-top: 1rem;
   margin-bottom: 1rem;
 
}


.container button{
width: 130px;
height: 42px;
border-radius: 10px;
font-family: calibri;
font-weight: bold;
font-size: 14px;
outline: none;
cursor: pointer;
margin-top: 1rem;
}


.me_contacter{
    background-color: white;
    border: white solid 4px;
    color: black;
    border: none;
}


button:hover{
    background-color: black;
    color: white; 
    border: white solid 4px;
}



/*---------------------------------------------------------------LE TEXTE DES INFORMATIONS--------------------------------------------------------*/

.a_propos_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.a_propos_text h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: Calibri;
    width: fit-content;
    border-bottom: orange 3px solid;
}

.a_propos_text p{
    text-align: justify;
    width: fit-content;

}



/*---------------------------------------------------------------Informations 1--------------------------------------------------------*/


.a_propos{
    padding: 30px 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}


.a_propos img{
    height: 500px;
    box-shadow: black 2px 2px 8px;
}


.a_propos_text{
width: 600px;
margin-left: 1rem;
margin-right: 1rem;

}


.a_propos_text p{
    font-family: calibri;
}

/*---------------------------------------------------------------Footer--------------------------------------------------------*/

footer{
    width: 100%;
    height: min-content;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
 
}

footer h1{
    text-align: center;
     margin-top: 10px;
     margin-bottom: 10px;
    
    font-family: Calibri;
    width: fit-content;
    border-bottom: orange 3px solid;

}



.multicolor1{
    color: rgb(255, 153, 0);
    animation: wheelHueColor 10s infinite;
}



@keyframes wheelHueColor {
    from, to { color:rgb(255, 153, 0);}
    10%      { color:hsl(308, 100%, 50%);}
    20%      { color:rgb(255, 0, 0);} 
    30%      { color:hsl(180, 75%, 35%);}
    40%      { color:hsl(125, 100%, 50%);}
    50%      { color:hsl(310, 100%, 50%);}
    60%      { color:rgb(0, 255, 0); }
    70%      { color:hsl(288, 100%, 50%);}
    80%      { color:hsl(56, 100%, 50%);}
    90%      { color:hsl(175, 100%, 50%);}
}


.multicolor2{
    color: hsl(175, 100%, 50%);
    animation: colorRotate 10s infinite;
}


@keyframes colorRotate {
    from, to { color: hsl(175, 100%, 50%);}
    10%      { color: rgb(0, 140, 255); }
    20%      { color: hsl(125, 100%, 50%);}
    30%      { color: rgb(0, 255, 0); }
    40%      { color: hsl(310, 100%, 50%);}
    50%      { color: hsl(71, 100%, 50%);} 
    60%      { color: hsl(180, 100%, 50%); }
    70%      { color: hsl(56, 100%, 50%); }
    80%      { color: hsl(0, 100%, 50%); }
    90%      { color: rgb(255, 153, 0); }
}



footer p{
    margin-bottom: 1rem;
    color: orange
}

#reseaux_sociaux{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


#reseaux_sociaux a{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px 30px 20px;
    border: black solid 4px;
    
}




#reseaux_sociaux a:hover{
  border: solid orange 4px;
  
}

a img{
    width: 2rem;
    
}

 


/*----------------------------------------------------------------Responsive 1-------------------------------------- */

@media screen and (max-width: 1400px){

    .container img{
        width: 400px;
    }

    .a_propos img{
      height: 400px;
  }
}


/*----------------------------------------------------------------Responsive 2-------------------------------------- */


@media screen and (max-width: 1250px){

    nav ul li a{
        font-size: 15px;
        margin: 0 30px 0 30px;
    }
   


    


    .container img{
        display: none;
    }

    .container{
        text-align: center;
    }



    .container p:nth-child(2){
        font-size: 40px;
    }


    .container p:nth-child(3){
        width: 100%;
    }



    .a_propos{
        display: flex;
        flex-direction: column;
        

    }


    .a_propos img{
        height: 295px;
    }



    .a_propos_text{

    height: min-content;
    width: min-content;
    }

    .a_propos_text h1{
        font-size: 1.5rem;
       
        margin-top: 1rem;
        width: fit-content;
        
    }

    .a_propos_text p{
        width: 20rem;
        margin-bottom: 20px;
}


     #textspe{
        margin-top: -10px;
        padding-top: 8px;
     }


}



/*----------------------------------------------------------------Responsive 2-------------------------------------- */
@media screen and (max-width: 600px){


  .a_propos img{
    height: 200px;
    box-shadow: black 2px 2px 8px;
}





nav ul li a{
    font-size: 15px;
    padding: 8px 8px;
    margin: 0 10px 0 10px ;
}



nav ul li a:hover{
    padding: 8px 8px;
    margin: 0px 10px 0px 10px;
    }
    


nav li{
    width: 33%;
    
}



    .container p:nth-child(1){
      
        font-size: 23px;
      
        }



    .container p:nth-child(2){
 
        font-size: 28px;
       
        }
        


    .container p:nth-child(3){
        
        font-size: 20px;

            
        }
            





footer h1{
font-size: 1.4rem;
}



#reseaux_sociaux a{
  width: 2.8rem;
  height: 2.8rem;
  border: black solid 2px;
}


#reseaux_sociaux a:hover{
  width: 2.8rem;
  height: 2.8rem;
  border: orange solid 2px;
}



 .a_propos_text p{
    width: 18rem;
   
}    



.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25rem;
 
}

#particles-js{
z-index: 0;
position: absolute;
height: 25rem;
width: 100%;

}






}



@media screen and (max-width: 390px){


.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
   
}

#particles-js{
  z-index: 0;
  position: absolute;
  height: 20rem;
  width: 100%;
  
}


nav li{
    font-size: 10px;
    
}


#reseaux_sociaux a{
  width: 2.2rem;
  height: 2.2rem;
  border: black solid 2px;
}


#reseaux_sociaux a:hover{
  width: 2.8rem;
  height: 2.8rem;
  border: orange solid 2px;
}

#reseaux_sociaux img{
    width: 1.5rem;
}


  .container p:nth-child(1){
    font-size: 18px;
    }



.container p:nth-child(2){
    font-size: 25px;
    }

  .container p:nth-child(3){
    font-size: 16px;  
    }



footer h1{
    font-size: 1.3rem;
}

}