#veille_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.veille_slide img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s;
}

.veille_slide img.active {
  opacity: 1;
}

.veille_slide button {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.suivant,
.precedent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  background-color: aqua;
  cursor: pointer;
  z-index: 1;
}

.suivant {
  right: 1rem;
}

.precedent {
  left: 1rem;
}
