#veille_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
}

.veille_slide img {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s;
}

.veille_slide img.active {
  opacity: 1;
}

.veille_slide button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 3rem;
  width: 3rem;

  cursor: pointer;

  font-size: 3rem;
  border: none;
  background-color: black;
  color: white;
}

.suivant,
.precedent {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;

  background-color: white;
  border: solid 3px black;
  border-radius: 50%;
}

.suivant {
  right: 1rem;
}

.precedent {
  left: 1rem;
}

/**********************************************************/

#stage_slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
}

.stage_slide img {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s;
}

.stage_slide img.active {
  opacity: 1;
}

.stage_slide button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 3rem;
  width: 3rem;

  cursor: pointer;

  font-size: 3rem;
  border: none;
  background-color: black;
  color: white;
}

.suivant2,
.precedent2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;

  background-color: white;
  border: solid 3px black;
  border-radius: 50%;
}

.suivant2 {
  right: 1rem;
}

.precedent2 {
  left: 1rem;
}
