.timeline-section {
  background-color: #ffffff;
}
.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: #2f363e;
  left: calc(50.2%);
}

.timeline-item {
  margin-bottom: 50px;
  margin-right: 5px;
  margin-left: 5px;
  width: 100%;
  position: relative;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 50px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 50px);
}
.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #7451eb;
  position: absolute;
  left: calc(50.4% - 8px);
  border-radius: 50%;
  top: 100px;
}
.timeline-date {
  font-size: 18px;
  color: #7451eb;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: #2f363e;
  padding: 30px;
  border-radius: 5px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  color: rgb(43, 0, 255) solid 3px;
}
.timeline-content h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.timeline-content p {
  color: #c8c8c8;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: left;
}

@media (max-width: 767px) {
  .timeline-item:nth-child(odd) {
    text-align: left;
  }

  .timeline-items::before {
    left: 12px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
}

/**********************************************************Transform*/
#before.active {
  transform: rotateY(180deg);
}

#today.active {
  transform: rotateY(180deg);
}

#future.active {
  transform: rotateY(180deg);
}

.recto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  height: 120px;
}

.recto button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  color: white;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  margin: 0 0.5rem 0.5rem 0;
  z-index: 2;
}

.verso {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 30%;
  left: 0;

  transform: rotateY(180deg);
  backface-visibility: hidden;
  height: 150px;
  width: 100%;
}

.verso p {
  text-align: center;
  width: 100%;
  padding: 0 3px 0 3px;
  height: 95px;
  color: white;
}

.verso a {
  color: blue;
}

.verso button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: black;
  cursor: pointer;
  border-radius: 50%;
  color: white;

  margin-right: 0.4rem;
}
