/* * {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/bkg.jpg);
  background-size: cover;
} */

.le_jeu {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: green solid 2px; */
  background-color: rgb(255, 255, 255);
}

.pc {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: green solid 2px; */
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
}

.le_jeu p {
  text-align: center;

  width: 250px;
  height: 40px;
}

/********************************************************************/
#ordinateur {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 310px;
  overflow-x: scroll;
}

#ordinateur img {
  width: 50px;
  margin-right: 2px;
  margin-left: 2px;
}

/********************************************************************/

#joueur {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 310px;
  overflow-x: scroll;
}

#joueur img {
  width: 50px;
  margin-right: 2px;
  margin-left: 2px;
}

/********************************************************************/

#boutons {
  margin-top: 10px;
}

#boutons button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 60px;
}

#boutons button:hover {
  background-color: black;
  color: white;
}

/********************************************************************Responsive*/
@media screen and (max-width: 550px) {
  .le_jeu {
    height: 360px;
    width: 360px;
  }
}
